.background-image {
    background-image: url('../assets/images/recuperar-contraseña.png');
    background-size: 100% 100%; /* Ajusta el ancho al 70% */
    background-position: left; /* Alinea a la izquierda */
    background-repeat: no-repeat; /* Evita que se repita */
}
